@font-face {
  font-family: "iconfont"; /* Project id 3724794 */
  src: url('iconfont.woff2?t=1666748379282') format('woff2'),
       url('iconfont.woff?t=1666748379282') format('woff'),
       url('iconfont.ttf?t=1666748379282') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e691";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-email:before {
  content: "\e608";
}

.icon-bilibili-fill:before {
  content: "\e75c";
}

